.mainDiv {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.99),
      rgba(255, 255, 255, 0.83)
    ),
    url(/images/art3.jpg);
  background-size: cover;
  background-position: center;
}
