* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "poppins";
  src: url("../public/fonts/poppins/Poppins-Medium.otf");
}
@font-face {
  font-family: "montserrat";
  src: url("../public/fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
  font-family: "nunito";
  src: url("../public/fonts/nunito/Nunito-Regular.ttf");
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #ffffff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}
