/* .container {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
} */
.container {
  font-family: nunito;
}
.mainDiv {
  box-sizing: content-box;
  /* margin: 20px; */
  /* width: 100%; */
}
.mainDiv img {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
